{% extends 'base.html' %}
{% load static %}

{% block page-header %}
{% endblock %}

{% block content %}
<div class="container container-body mt-4 mb-4">
    <div class="row">
        <div class="col-12 add-edit-article-article-nav-cards">
            <section class="article-nav-cards">
                <h3>All Articles</h3>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols--xxl-6">
                    {% include 'basics/includes/basic-nav.html' %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock%}