<script>
    $(document).ready(function() {
        // Timeout function "guarantees" correct height for cards
        setTimeout(function () {
            let leftHeight = $('.main-article').height();
            
            let rightHeight = $('section.article-nav-cards').height();
            
            let gistScriptHeight;
            let leftHeightPx;
            let totalLeftHeight;
            let gistScriptElement = document.getElementById("gist-script") || false
            if (gistScriptElement) {
                gistScriptHeight = $("#gist-script").height();
                totalLeftHeight = leftHeight + gistScriptHeight;
                leftHeightPx = `${leftHeight + gistScriptHeight - 54}px`;
            } else {
                leftHeightPx = `${leftHeight - 54}px`;
            }

            let clientWidth = document.documentElement.clientWidth;
            console.log(clientWidth);
            $('.article-nav-cards').css('padding', '0 16px');
            if (clientWidth > 991) {
                $('.article-nav-cards').css('max-height', leftHeightPx).css('overflow', 'scroll').css('overflow-x', 'hidden')//.css('padding', '0 16px');
                $('#scroll-notice').css('padding', '16px 0 0 16px');

                const scrollbarVisible = (element) => {
                    return element.scrollHeight > element.clientHeight;
                }

                const articleNavCards = document.querySelector('.article-nav-cards');
                if (scrollbarVisible(articleNavCards)) {
                    // $('#scroll-notice').css('display', 'block');
                    $('#scroll-notice').addClass('d-lg-block');
                } else {
                    $('#scroll-notice').css('display', 'none');
                }
            }
        }, 50);
    })
</script>
