<script>
    let i = 0;
    let fullMainNameTxt =  document.getElementById('typing-main-name'); // 'JavaScripting : The Home Page.'
    let txt = fullMainNameTxt.value;
    let j = 0;
    let fullSubNameTxt = document.getElementById('typing-sub-name'); // 'Home.'
    let txt2 = fullSubNameTxt.value;
    let speed = 100;
    $(document).ready(function() {
        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("typing-main").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            };
            setTimeout(function () {
                if (j < txt2.length) {
                    var x= document.getElementById("typing-sub").innerHTML += txt2.charAt(j);
                    j++;
                    setTimeout(typeWriter, speed);
                }
            }, (txt.length*speed));
        }
        typeWriter();
    });
</script>